<h2>Create Database</h2>

Click on @Html.ActionLink("link", "PrepareDatabase", "Admin") to create the database required for application. 
<br/>No records will be updated and every table will be checked if they do not exist. Multiple running the site will do nothing.
