<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="CVEntities" />
    <add key="EventSourceName" value="CVAppLogSource" />
  </appSettings>
  <connectionStrings>
    <add name="CVEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=____;initial catalog=SELFINFO;user id=sa;password='____';multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>