<h2>About This</h2>
<p>
     My second ASP.NET MVC application. 
     <br />
     Still some errors might popup. Also code quality is not that high. Some of the javascript/css are duplicated and many unused assemblies are put because i didnot know some things well.
</p>
<p>
    Technology: 
    <ul>
        <li>ASP.NET MVC 5 Razor, .Net Framework 4</li>
        <li>Entity Framework 6, plain tables</li>
        <li>MSSQL 2008</li>
        <li>Uses ASP.NET Membership</li>
    </ul>
</p>
